<div *ngIf="productAction?.event?.action === addProductAction">
  <form [formGroup]="addForm" (ngSubmit)="handleSubmitAddProduct()">
    <div class="card flex flex-column md:flex-column gap-3">
      <input pInputText placeholder="Nome" formControlName="name" />

      <p-dropdown
        styleClass="w-full"
        [options]="categoriesDatas"
        [(ngModel)]="selectedCategory"
        optionLabel="name"
        optionValue="id"
        placeholder="Selecione uma categoria !"
        formControlName="category_id"
      >
      </p-dropdown>

      <input pInputText placeholder="Preço" formControlName="price" />
      <input pInputText placeholder="Descrição" formControlName="description" />

      <input pInputText placeholder="Quantidade" formControlName="amount" />

      <div
        class="flex flex-row justify-content-center align-content-center align-items-center m-1"
      >
        <p-button
          label="Concluir"
          type="submit"
          [disabled]="!addForm.valid"
        ></p-button>
      </div>
    </div>
  </form>
</div>

<div *ngIf="productAction?.event?.action === editProductAction">
  <form [formGroup]="editForm" (ngSubmit)="handleSubmitEditProduct()">
    <div class="card flex flex-column md:flex-column gap-3">
      <input pInputText placeholder="Nome" formControlName="name" />

      <p-dropdown
        styleClass="w-full"
        [options]="categoriesDatas"
        [(ngModel)]="selectedCategory"
        optionLabel="name"
        optionValue="id"
        placeholder="Selecione uma categoria !"
        formControlName="category_id"
      >
      </p-dropdown>

      <input pInputText placeholder="Preço" formControlName="price" />
      <input pInputText placeholder="Descrição" formControlName="description" />

      <input pInputText placeholder="Quantidade" formControlName="amount" />

      <div
        class="flex flex-row justify-content-center align-content-center align-items-center m-1"
      >
        <p-button
          label="Concluir"
          type="submit"
          [disabled]="!editForm.valid"
        ></p-button>
      </div>
    </div>
  </form>
</div>

<div *ngIf="productAction?.event?.action === saleProductAction">
  <form [formGroup]="editForm"><p>teste sale</p></form>
</div>
